.menu-mobile {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    background-image: url(../image/position/logo.png);
    background-repeat: no-repeat;
    background-position: top;
    border-top: 2px solid #000000;
    z-index: 9999;
}

nav {
    height: 55%;
    margin-top: 50px;
}

.menu-mobile ul {
    height: 100%;
}

.menu-mobile ul li {
    text-align: center;

}

.menu-mobile ul li a{
    font-size: 2rem;
    line-height: 50px;
    color: #3298F2;
}

.header-callback-menu button {
    position: relative;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    background: #F9F9F9;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0;
    color: #3298F2;
    border: 2px solid #3298F2;
    box-sizing: border-box;
    border-radius: 6px;
}
