@media screen and (min-width: 1170px) and (max-width: 1300px){

}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .sidebar{
        width: 33.33%;
    }

    .somethink h1{
        font-size: 40px;
    }

    .somethink h4{
        font-size: 22px;
    }
}

@media (max-width: 992px){
    .content{
        width: 100%;
    }

    .all-menu{
        display: none;
    }

    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    .logo{
        margin-top: 0;
    }

    #btn-menu{
        display: block;
    }

    .portfolio-foto{
        width: 100%;
    }

    .photograf{
        background-position: -203px;
    }

    .somethink h1{
        font-size: 33px;
    }

    .somethink h4{
        font-size: 20px;
    }

    #cssmenu{
        width: 100%;
    }
}

@media screen and (max-width: 768px) and (min-width: 300px){
    .bg-contact{
        height: 117vh;
    }

    .content{
        height: auto;
    }

    .gallery{
        margin-left: 0;
        padding: 5px;
    }

    .small-img{
        width: 100%;
        height: auto;
    }

    .sidebar{
        width: 100%;
        height: auto;
        padding: 30px 0 30px 10px;
    }

    .photograf{
        width: 100vw;
    }

    .photograf h1{
        font-size: 33px;
        text-align: center;
    }

    .photograf h4{
        font-size: 18px;
    }

    .somethink{
        left: 20%;
        width: 70%;
    }

    .logo {
        width: 30%;
        margin-top: 0;
    }

    .navbar-toggle{
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 15px 15px;
    }

    .navbar-menu{
        margin-top: 1%;
    }

    .social-icons li{
        padding: 10px 5px;
        width: 45px;
    }
    #btn-menu{
        left: 80%;
    }

    .portfolio-foto{
        width: 100%;
    }

    .form-contact{
        margin-left: 0;
        width: 100%;
    }
}






