body{
    background-color: #666666;
    color: #ffffff;
}
h1 {
    text-align: center;
}
section{
    padding: 15px;
    margin: 15px 0;
}
section:nth-child(2n) {
    background-color: #ffffff;
    color: #000000;
}
section:nth-child(2n+1) {
    background-color: #000000;
    color: #ffffff;
}

.text{
    color: #ffaa1a;
}
span {
    border: 1px solid #666666;
    background-color: #999999;
    padding: 5px;
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

h3 {
    color: red;
    font-size: 40px;
    text-align: center;
}
