*{
    margin: 0;
    padding: 0;
    border: 0
}

header{
    background-image: url("images/hbg_bg.jpg");

}

.header-top{
    width: 80%;
    margin: 0 auto;
}

.logo









































































































































































