#container{
    background: whitesmoke;
    display: flex;
    flex-direction: row;

}

.box{
    width: 120px;
    height: 120px;
    margin: 5px;
    text-align: center;
    flex-grow: 1;
}

#one{
    flex-grow: 7;
}

#five{
    flex-grow: 7;
}

